<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>
<div class="row">
<div class="jumbotron">
  <h1>Ready to have fun?</h1>
  <% if signed_in? %>
    <%= link_to "Get Started", events_path, class: "btn btn-large btn-success" %>
  <% else %>
    <a class="btn btn-large btn-success" role="button" data-toggle="modal" data-target="#infoModal">Get Started</a>
  <% end %>
</div>
</div>
<div class="row firstrow">
<div class="container marketing">
<div class="row">
  <div class="col-md-6">
    <h2>Crispy!</h2>
    <p>
      It's crisp like a perfectly done cookie or a good cracker! Just the right amount of crunch--just enough to satisfy but not enough to shock or overwhelm. More food should be this good.
    </p>
    <h2>Chicken!</h2>
    <p>
      Everyone's favorite white meat! Lean, delicious, and comes from an ugly bird that you don't really mind killing! Well, they're cute when they're young but there's not really any meat on them at that point.
    </p>
    <h2>Sandwich</h2>
    <p>
      The best and most versatile food; portable, delicious, fast, and easy, it's a favorite the world around. Why not snuggle up to a loved one and share the romance of a delightful ensemble of delicious fillings between two or more slices of bread?
    </p>
  </div>
  <div class="col-md-6">
    <h2>Not Soggy!</h2>
    <p>
      Nothing is worse than soggy chicken, and we're all about doing things right, so we only will deliver the crispyest, more perfect chicken there ever was. Perfection is only the starting point.
    </p>
    <h2>Real Chicken!</h2>
    <p>
      That's right, we don't use fake chicken.  That means no turkey, no cornish game hens, no ducks or other water fowl, and certainly no hummingbirds because they are really cute and probably don't taste very good.
    </p>
    <h2>Really, a Sandwich!"</h2>
    <p>
      Yes, we hate food that comes on a plate that you have to eat with a fork and knife. Portable food like sandwiches are the future, and we're all about embracing the newest technologies.
    </p>
  </div>
</div>
</div>
</div>
<div class="row" style="background: #82A64A">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
   </div>
</div>
<div class="row" style="background: #2A8095">
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
</div>
<!--modal!-->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" arialabelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="infoModalLabel">Create Your Account!</h2>
      </div>
      <div class="modal-body">
       <h4>Let's start with your details...</h4>
       <%= form_for @user, :html => { :class => "form-inline" } do |f| %>
          <%= f.label :firstname, 'Name', :class => "bold" %><br>
	<div class="form-group">
          <%= f.text_field :firstname, :placeholder => "First Name", :class => "form-control" %>
	</div>
	<div class="form-group">
          <%= f.text_field :lastname, :placeholder => "Last Name", :class => "form-control" %>
        </div>
	<br><br>
        <div class="form-group">
          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, :placeholder => "email@example.com", :class => "form-control" %>
        </div>
	<br><br>
          <%= f.label :firstname, 'Password', :class => "bold" %><br>
	<div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
	</div>
	<div class="form-group">
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %>
        </div>
	<br><br>
        <div class="form-group">
          <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.submit "Next", class: "btn btn-primary" %>
        </div>
	<a href="#">
	<div class="pull-right btn btn-primary facebook">
	  <span>Register with Facebook</span> <img src="/assets/facebook.png" width="25" align="right">
	</div>
	</a>
      <% end %>
    </div>
  </div>
</div>
