<p>Alright, do you know where you want to go, or do you need some suggestions?</p>
<p>
  <div class="well well-large3">
    <a href="#modal1" role="button" class="btn" data-toggle="modal">I know what I'm doing!</a>        
    <a href="#model2" role="button" class="btn" data-toggle="modal">Give me some suggestions!</a>  
  </div>
</p>

<!--stuff for modal triggered by buttons-->
<!--modal1, for precise locations-->
<div id="modal1" class="modal hide fade" tabindex="-1" role="input" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Event Details:</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@event, remote: true) do |f| %>
    <div class="alert hide alert-success"></div>
    <div class="form-group">
      <%= f.label :event_name, 'Location Name' %>
      <%= f.text_field :event_name %>
      <%= f.label :location, 'Location Address' %>
      <%= f.text_field :location %>
      <%= f.label :event_details %>
      <textarea name="event[event_details]" id="event_details"></textarea>
      <%= f.label :event_date, 'Event Date' %>
      <%= date_field(:event, :event_date) %>
      <%= f.label :event_time, 'Event Time' %>      
      <%= time_field(:event, :event_time) %>
      <%= hidden_field(:event, :user_id, :value => session[:user_id] ) %>
    </div> <!--form-group-->
    <hr>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit("Add Venue", :class => "btn btn-primary") %>
      <%= link_to 'Make the Map!', "events/show", :class => "btn btn-primary", 'data-no-turbolink' => true %>
    </div> <!--modal footer-->
    <% end %>
  </div>

<!--modal2, for suggested locations-->
<div id="modal2" class="modal hide fade" tabindex="-1" role="input" aria-labelledby="modal1Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Suggestions:</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@event, remote: true) do |f| %>
    <div class="alert hide alert-success"></div>
    <div class="form-group">
      <%= f.label :event_name, 'Location Name' %>
      <%= f.text_field :event_name %>
      <%= f.label :location, 'Location Address' %>
      <%= f.text_field :location %>
      <%= f.label :event_details %>
      <textarea name="event[event_details]" id="event_details"></textarea>
      <%= f.label :event_date, 'Event Date' %>
      <%= date_field(:event, :event_date) %>
      <%= f.label :event_time, 'Event Time' %>
      <%= time_field(:event, :event_time) %>
      <%= hidden_field(:event, :user_id, :value => current_user['id'] ) %>
    </div> <!--form-group-->
    <hr>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit("Add Venue", :class => "btn btn-primary") %>
      <%= link_to 'Make the Map!', "events/show", :class => "btn btn-primary", 'data-no-turbolink' => true %>
    </div> <!--modal footer-->
    <% end %>
  </div>

