<div class="row rowheading">
  <div class="heading">
    <h1>Contact Us</h1>
    <h4>Don't be shy now! Send us a note!</h4>
  </div>
</div>
<div class="container marketing">
<div class="col-md-4"></div>
<div class="col-md-4 well">
  
  <%= form_for @contact_form, :url => thank_you_path do  |f| %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message, "Message" %>
      <%= f.text_field :message, :as => :text, :required => false, :class => "form-control" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit "Send Message", :class => "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
<div class="col-md-4">
</div>
</div>


